        /*
*
* Page Loaders
* --------------------------------------------------
*/
        #page-loader {
            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            padding: 20px 20px 10%;
            z-index: 9999999;
            background: #fff;
            transition: .3s all ease;
        }

            #page-loader.loaded {
                opacity: 0;
                visibility: hidden;
                z-index: -1;
            }

            #page-loader.loading {
                opacity: 3;
                visibility: visible;
                z-index: 2;
            }

            #page-loader.ending {
                display: none;
            }

            #page-loader > * {
                width: 100%;
                text-align: center;
            }

            #page-loader .page-loader-body {
                margin-top: 40px;
                text-align: center;
            }

        [data-x-mode='design-mode'] #page-loader {
            display: none;
        }

        #loadingProgressG {
            width: 400px;
            max-width: 90%;
            height: 5px;
            overflow: hidden;
            background: #2a2a2a;
            border-radius: 0;
            margin: auto;
        }

.loadingProgressG {
    background: #00adef;
    margin-top: 0;
    margin-left: -400px;
    animation-name: bounce_loadingProgressG;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 400px;
    height: 5px;
}

        @-webkit-keyframes bounce_loadingProgressG {
            0% {
                margin-left: -400px;
            }

            100% {
                margin-left: 400px;
            }
        }

        @keyframes bounce_loadingProgressG {
            0% {
                margin-left: -400px;
            }

            100% {
                margin-left: 400px;
            }
        }